<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="box has-background-grey-lighter">
            <p class="content is-large has-text-dark"><b>Informed Consent</b></p>
            <div class="unclickable unselectable">
                <img src="../../assets/img/page1.png" style="padding-left: 1%; ">
                <img src="../../assets/img/page2.png" style="padding-left: 1%; ">
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-10 is-offset-1">
        <div class="box has-background-grey-lighter">
            <p class="content is-large has-text-dark"><b>This brief survey will ensure you receive credit for participating while maintaining your data's anonymity.</b></p>
            <p class="content circle has-text-dark">You can access this survey now, or after you've completed the experiment.</p>
            <p class="content circle has-text-dark">Please note, this survey is required to receive credit on SONA.</p>
            <p class="content circle has-text-dark">Link to survey: <a href="https://georgiasouthern.co1.qualtrics.com/jfe/form/SV_cCra61WcFgTF9Xv" target="_blank">Click Here</a></p>
        </div>
    </div>
</div>
